#root {
  max-width: 1280px;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main-app {
  text-align: center;
}

.main-app nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: #333;
}

.main-app nav a {
  margin-right: 1rem;
  margin-left: 1rem;
  color: #fff;
  text-decoration: none;
}

.number-converter {
  margin: 1rem 4rem;
  text-align: left;
}

.number-converter label {
  display: block;
  margin-bottom: 1rem;
}

.number-converter input {
  display: block;
  margin-top: 0.5rem;
}
